.cover__link {
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  min-height: min(62.5vw, 740px);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover__link::before {
  content: "";
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__link:hover::before {
  opacity: 0.8;
}
