.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 32px);
  }
 }
