.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  color: #FFFFFF;
  transition: opacity 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}
